include _mixins.pug

doctype html
// password-forgotten.pug begin
html(lang='zxx')
	+head
	body
		
		+header
		
		main.box-blue
			
			.section

				.row
					.column.xlarge-4.large-5.medium-7.xmedium-6.medium-centered
					
						.section.box-shadow.box-padding

							form
								.form-header 
									h3.light.text-center Forgotten Password

								.form-body
									input(type="text" placeholder="Username or Email")

								.form-footer
									button(type="submit").button.expanded Reset
									+secure-group
					
		+footer
		+scripts
							
	// password-forgotten.pug end							