include _mixins.pug

doctype html
// watchlist.pug begin
html(lang='zxx')
	+head
	body

		
		+header
		+page-nav

		main.box-blue

			.section

				.section-header
					.row
						.column.large-6
							h2.section-title.filters-title Watch List
						.column.large-6
							+filters-location


				+property-items-previews
		


		+footer.pug
		+scripts
	// watchlist.pug end